:root {
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --white-color: #ffffff;
  --accent-color: #2196f3;
  --rare-text-color: #000000;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --text-shadow-color: rgba(0, 0, 0, 0.25);
  --box-shadow-color: rgba(0, 0, 0, 0.15);
  --link-accent-color: rgb(0, 119, 255);
  --light-background-color: #f5f4fa;
  --accent-background-color: #188ce8;
  --main-icons-color: #afb1b8;
  --footer-background-color: #2f303a;
  --border-color: #eeeeee;
  --border-secondary-color: #ececec;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  color: var(--main-text-color);
  background-color: var(--white-color);
  letter-spacing: 0.03em;
  /* padding-left: 200px;
  padding-right: 200px; */
}

.conteiner {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.flexbox {
  display: flex;
}

ul {
  list-style: none;
  padding: 0px;
}

a {
  color: var(--rare-color);
  text-decoration: none;
}

.link {
  color: var(--rare-color);
  text-decoration: none;
}
img {
  display: block;
  width: 100%;
  height: auto;
  margin: 0px;
}

.header-content {
  background-color: var(--white-color);
  display: flex;
  align-items: center;
  width: 1600px;
  /* padding-top: 24px;
  padding-bottom: 25px; */
  border-bottom: 1px solid var(--border-secondary-color);
}

.header-content .flexbox {
  justify-content: flex-end;
  align-items: center;
}

.company-logo {
  display: block;
  margin-right: 90px;
  text-decoration: none;
  color: var (--rare-color);
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  letter-spacing: 0.03em;
}

.logo-web {
  color: var(--accent-color);
}

.header-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.nav-link-list {
  display: flex;
  margin: 0;
  padding: 0;
  /* align-items: center; */
}

.nav-item {
  position: relative;
  align-items: center;
  justify-content: center;
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

.nav-link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--main-text-color);

  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;

  transition: color 250ms var(--timing-function);
}

.nav-link.active-status::after {
  content: "";

  position: absolute;
  left: 0;
  bottom: 0;

  display: block;
  width: 100%;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--link-accent-color);
  text-shadow: 0px 4px 4px var(--footer-shadow-color);
}

.contact-link-list {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  align-items: center;
}

.contact-item {
  display: flex;
  padding: 0;
  line-height: 16px;
}

.contact-item:not(:last-child) {
  margin-right: 50px;
}

.contact-link:hover,
.contact-link:focus {
  color: var(--link-accent-color);
}

.contact-icon {
  margin-right: 10px;
  fill: currentColor;
}

/* .contact-icon:hover,
.contact-icon:focus {
  color: var(--accent-color);
} */

.main-content {
  background-color: var(--white-color);
}

.section-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1600px;
  background-color: var(--footer-background-color);
  height: 600px;

  background-image: linear-gradient(
      90deg,
      rgba(47, 48, 58, 0.6) 50%,
      rgba(47, 48, 58, 0.6) 100%
    ),
    url("../img/img-studio/bghero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.title-hero {
  /* display: flex; */
  /* flex-wrap: wrap; */
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  vertical-align: middle;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 30px;
  margin-top: 0px;
}

.btn {
  /* display: inline-flex;
   padding: 10px 32px;
  border-radius: 4px;
  min-width: 200px;
  border: transparent; */
  display: flex;
  justify-content: center;
  min-width: 200px;
  padding: 10px 32 px;
  height: 50px;
  color: var(--white-color);
  align-items: center;
  text-align: center;
  line-height: 30px;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px var(--box-shadow-color--);
  border-radius: 4px;
  border: transparent;
}

/* .order-service-button:hover,
.order-service-button:focus {
  width: 200px;
  height: 50px;
  left: 700px;
  top: 433px;
  color: white;
  display: flex;
  align-items: center;
  text-align: center;
  background-color:var (--accent-background-color);
  box-shadow: 0px 4px 4px var (--box-shadow-color);
  border-radius: 4px;
} */

.title-company-features {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin-bottom: 50px;
  margin-top: 0;
}

.strong-sides {
  width: 1600px;
  margin: 0;
  padding-top: 98px;
  padding-bottom: 90px;
}

.sides-list {
  display: flex;
  margin: 0;
}

.sides-title {
  font-weight: bold;
  text-transform: uppercase;
  color: var(--main-text-color);
  line-height: 16px;
  margin-bottom: 10px;
  margin-top: 0;
}

.sides-item {
  width: calc((100%-30px * 3) / 4);
  margin-top: 0;
  margin-bottom: 0;
}

.sides-item:not(:nth-child(4n)) {
  margin-right: 30px;
}

.sides-pic {
  display: flex;
  width: 270px;
  height: 120px;
  padding: 100px 25px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: var(--light-background-color);
}

.sides-descr {
  color: var(--secondary-text-color);
  line-height: 24px;
}

.we-doing {
  width: 1600px;
  padding-top: 90px;
  padding-bottom: 94px;
}

.doing-list {
  display: flex;
  margin: 0px;
  padding: 0px;
}

.doing-item {
  width: calc((100%-30px * 2) / 3);
}

.doingbox {
  position: relative;
}

.doing-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.doingbox-title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  /* height: 70px; */
  margin: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  text-align: center;
  justify-content: center;

  background: rgba(47, 48, 58, 0.8);
}

.doing-title {
  margin: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;

  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}

.team {
  width: 1600px;
  background-color: var(--light-background-color);
  margin: 0px;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-list {
  display: flex;
  margin: 0px;
  padding: 0px;
}

.staff-item {
  /* display: flex;
  flex-wrap: wrap; */
  width: calc((100%-30px * 3) / 4);
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  /* width: 270px;
  height: 368px; */
}

.staff-item:not(:nth-child(4n)) {
  margin-right: 30px;
}

.staff-info,
.staff-function {
  text-align: center;
  font-size: 16px;
  line-height: 18px;
}

.staff-info {
  color: var(--rare-text-color);
  font-weight: 500;
  margin-top: 30px;
  margin-bottom: 10px;
}

.staff-function {
  color: var(--secondary-text-color);
  margin-bottom: 16px;
}

.footer .conteiner {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
}

.sociallink-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 32px;
  margin-right: 32px;
  margin-bottom: 30px;
}

.sociallinks-item:not(:last-child) {
  margin-right: 10px;
}

.sociallink {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  fill: var(--secondary-text-color);

  transition: background-color 250ms var(--timing-function),
    fill 250ms var(--timing-function),
    border-radius 250ms var(--timing-function);
}

.foter-links .sociallink,
.footer-links .sociallink {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  fill: var(--white-color);
}

.sociallink:hover,
.sociallink:focus {
  background-color: var(--accent-color);
  fill: var(--white-color);
  border-radius: 50%;
}

.regular-customer {
  width: 1600px;
  margin: 0px;
  padding-top: 94px;
  padding-bottom: 94px;
}

.customer-list {
  display: flex;
  margin: 0px;
  padding: 0px;
}

.customer-item {
  width: calc((100%-30px * 5) / 6);
  height: 90px;
}

.customer-item:not(:nth-child(6n)) {
  margin-right: 30px;
}

.customer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 175px;
  height: 90px;
  fill: var(--main-icons-color);
  border: 1px solid var(--main-icons-color);
  border-radius: 4px;

  transition: fill 250ms var(--timing-function),
    border-color 250ms var(--timing-function);
}

.customer-link:hover,
.customer-link:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

.footer {
  background-color: var(--footer-background-color);
  width: 1600px;
}

.logo-studio-footer {
  color: var(--white-color);
}

.adress-info-footer {
  color: white;
}
.contacts-footer {
  color: var(--footer-text-color);
}

.logo-web {
  color: var(--accent-color);
  line-height: 30.5px;
}

.logo-studio {
  line-height: 35.5px;
}

.nav-link-list {
  align-items: center;
}
.nav-link {
  color: var(--main-text-color);
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;

  transition: color 250ms var(--timing-function),
    tet-shadow 250ms var(--timing-function);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--link-accent-color);
  text-shadow: 0px 4px 4px var(--text-shadow-color);
}

.nav-link {
  text-decoration: none;
}

.contact-link {
  display: block;
  color: var(--secondary-text-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;

  transition: color 250ms var(--timing-function);
}

.contact-link:hover,
.contact-link:focus {
  color: var(--link-accent-color);
}

.filters-list {
  align-items: center;
}

.work-buttons {
  /* width: 74px; */
  height: 38px;
  margin-bottom: 15px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  background-color: var(--light-background-color);
  border-radius: 4px;
  border: 0px;
  shadow: none;

  transition: color 250ms var(--timing-function),
    background-color 250ms var(--timing-function),
    box-shadow 250ms var(--timing-function);
}

.work-buttons:hover,
.work-buttons:focus {
  color: var(--white-color);

  background-color: var(--accent-background-color);
  box-shadow: 0px 4px 4px var(--box-shadow-color);
}

.filters-gallery-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 35px;
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

.gallery {
  margin-top: 94px;
  margin-bottom: 94px;
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
  padding: 0px;
}
.gallery-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.gallery-item {
  /* width: calc((100%-30px * 2) / 3); */
  width: 370px;
  margin-bottom: 30px;
  padding-bottom: 20px;
  border: 1px solid var(--border-color);

  transition: box-shadow 250ms var(--timing-function);

  /* overflow: hidden;
  */
}

.gallery-item:hover,
.gallery-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* .gallery-list img {
  margin-bottom: 20px;
} */
.gallery-item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.project-info {
  padding: 20px 24px;
}

.gallery-title {
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: var(--rare-text-color);
}

.gallery-info {
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.project-card {
  position: relative;
  overflow: hidden;
}

.card-description {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding: 36px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  transform: translateY(100%);
  transition: transform 250ms var(--timing-function),
    opacity 250ms var(--timing-function);
}

.description {
  margin: 0;
  font-size: 18px;
  line-height: 28px;
  color: var(--white-color);
}

.project-link:hover .card-description,
.project-link:focus .card-description {
  transform: translateY(0);
  opacity: 1;
}

.footer {
  background-color: var(--footer-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-footer {
  margin-bottom: 20px;
}
.logo-studio-footer {
  color: var(--white-color);
  line-height: 36px;
}

.footer-list {
  margin: 0;
}

.adress-info-footer {
  color: var(--white-color);
  margin-bottom: 9px;
}

.contacts-footer {
  color: var(--footer-text-color);
  text-decoration: none;
}

.contacts-info:not(:last-child) {
  margin-bottom: 9px;
}

.attention {
  display: block;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: var(--white-color);
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  width: 230px;
  margin-right: 70px;
}

.footer-links {
  display: flex;
  flex-direction: column;
  width: 210px;
  margin-right: 93px;
}

/* .subscription .btn {
  display: flex;
} */

/* .subscribe {
  display: flex;
  flex-direction: column;
  width: 650px;
} */

.subscription-input {
  margin-right: 12px;
  padding-left: 15px;
  width: 358px;
  height: 50px;
  align-items: center;

  font-size: 16px;
  line-height: 20px;
  background-color: var(--footer-background-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.btn-icon {
  margin-left: 10px;
  align-items: center;
  fill: var(--white-color);
  transition: fill 250ms var(--timing-function);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  transition: opacity 250ms var(--timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;

  width: 528px;
  height: 580px;
  background-color: var(--white-color);

  transform: translate(-50% -50%);
}

.is-hidden .modal {
  right: -100%;
  transform: translateY(-50%) scale(0.3);
}

.closebtn {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(-8px) translateY(8px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--white-color);
  fill: var(--rare-text-color);

  transition: fill 250ms var(--timing-function);
}

.closebtn:hover,
.closebtn:focus {
  fill: var(--accent-color);
  outline: transparent;
}

textarea {
  resize: none;
}
